body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fffbea;
    color: #333;
  }
  
  h1, h2 {
    color: #b85c38;
  }
  
  #nutricao button {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffddb0;
    border: none;
    cursor: pointer;
  }
  