body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF9ED;
  color: #333;
}

header {
  background-color: #335c67;
  color: white;
  text-align: center;
  padding: 30px 10px;
  
}

header h1 {
  margin: 0;
  font-size: 2em;
 
}

header p {
  font-size: 1.2em;
  margin-top: 8px;

}

.explicacao-centralizada {
    text-align: center;
    max-width: 800px;
    margin: 40px auto 20px auto;
    padding: 0 20px;
    color: #333;
    font-size: 20px;
}

.explicacao-centralizada h2 {
    color: #335c67;
    font-size: 30px;
    margin-bottom: 10px;
}
.explicacao-centralizada ol {
    padding-left: 20px;      
    margin: 10px auto;
    line-height: 1.5;       
    list-style-position: inside;
}


h1 {
    margin: 0;
    font-size: 40px;
}

#ingrediente-label {
    color: #9e2a2b;
    font-size: 25px;
    margin-bottom: 5px;
}

.Conversor-de-medidas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.form-container {
    background-color: #ffffff;
    padding: 130px 100px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
   
}

.form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1rem;
    color: #335c67;
}

input, select {
    width: 100%;
    padding: 25px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 1rem;
    color: #333;
    background-color: #fdfdfd;
  
}

input:focus, select:focus {
    border-color: #9e2a2b;
    outline: none;
}

button {
    width: 100%;
    padding: 25px;
    background-color: #335c67;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
   
}

button:hover {
    background-color: #9e2a2b;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #9e2a2b;
    text-align: center;
}

/*Folder*/
.rodape {
   background-color: #335c67; 
   color: white;              
   text-align: center;        
   padding: 50px 0;           
   margin-top: 50px;          
   font-size: 16px; 
}

.logo img {
  max-height: 200px;  
  width: auto;      
  display: block;   
}

.rodape a {
   color: #fff;
   text-decoration: none;
}
 
 .rodape a:hover {
   color: #9e2a2b;
 }

.rodape a:hover {
   text-decoration: underline;
}
.redes-sociais i {
   font-size: 30px;
   color: #ffdb58;
   margin-right: 10px;
   transition: transform 0.3s;
 }
 
 .redes-sociais i:hover {
   transform: scale(1.2);
   color: #9e2a2b; 
 }
 
 .container-rodape {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
   gap: 30px;
 }


 .rodape h3 {
   margin-bottom: 10px;
   font-size: 18px;
   font-size: 25px;
   color: #fff;
 }
 
 .rodape p {
   font-size: 14px;
   line-height: 1.5;
   max-width: 300px;
 }
 
 .redes-sociais a img {
   width: 30px;
   margin-right: 10px;
   transition: transform 0.3s;
 }
 
 
 .direitos {
   width: 100%;
   display: flex;
   justify-content: center; 
   align-items: center;     
   margin-top: 30px;
   font-size: 13px;
   border-top: 5px solid rgba(255, 255, 255, 0.3);
   padding-top: 15px;
   text-align: center;
 }
 


