/* Estilos gerais */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #fffbea;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #335c67;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

/* Seção "Sobre nós" */
.sobre-nos {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(255, 251, 234, 0.9);
}

.sobre-nos h2 {
    color: #9e2a2b;
    font-size: 28px;
    margin-bottom: 20px;
}

.sobre-nos p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Títulos internos */
.sobre-nos h3 {
    font-size: 22px;
    color: #335c67;
    margin-top: 30px;
    margin-bottom: 10px;
}

/*Folder*/
.rodape {
    background-color: #335c67; 
    color: white;              
    text-align: center;        
    padding: 50px 0;           
    margin-top: 50px;          
    font-size: 16px;
    
 }
 
 .rodape a {
    color: #fff;
    text-decoration: none;
 }
  
  .rodape a:hover {
    color: #9e2a2b;
  }
 
 .rodape a:hover {
    text-decoration: underline;
 }
 .redes-sociais i {
    font-size: 30px;
    color: #ffdb58;
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  .redes-sociais i:hover {
    transform: scale(1.2);
    color: #9e2a2b; 
  }
  
  .container-rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
  }
  
  .logo img {
    width: 120px;
    height: auto;
  }
  
  .rodape h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-size: 25px;
    color: #fff;
  }
  
  .rodape p {
    font-size: 14px;
    line-height: 1.5;
    max-width: 300px;
  }
  
  .redes-sociais a img {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  
  .direitos {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 30px;
    font-size: 13px;
    border-top: 5px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
    text-align: center;
  }
  
 